* {
  margin: 0;
  padding: 0;
  background-color: #2a0a1f;
  color: white;
  font-family: consolas;
}
*::selection{
	background: white;
	color: #2a0a1f;
}
*::-moz-selection{
	background: white;
	color: #2a0a1f;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #ef2b27;
}
a:hover{
  color: #ff7f7d;
}
.wrapper{
  padding-top: 100px;
  min-width: 500px;
  max-width: 850px;
  margin: auto;
}
.user{
  color: #92d144;
}
.directory{
  color: #61799d;
}
.blinking-cursor {
  color: white;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink{
  0%{color: white;}
  49%{color: white;}
  50%{color: transparent;}
  100%{color: transparent;}
}
